*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family:'Montserrat';
    color:white;  
    text-align:center;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(to bottom right, #dfd6c9 , #928d7a);
}

label {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
    margin: auto;
}

input,
button,
textarea,
select {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}

option {
    font-weight: 500;
}

#title{
    font-size:45px;
}
  
#description{
    font-size:20px;
}

#survey-form {
    width: 600px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    text-align: left;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.form-inputs {
    line-height: 20px;
    width:100%;
    padding:15px;
    border-radius:10px;
}

.i-radio,
.checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 0.90rem;
  min-width: 1.25rem;
}

#comment{
    margin-top: 15px;
    width:100%;
    border-radius:10px;
    border:none;
    font-size: 15px;
    font-weight: 400;
    color: rgb(71, 71, 71);
    padding: 0.625rem;
}

#submit{
    margin-top: 15px;
    width:100%;
    border:none;
    padding:10px;
    border-radius:10px;
    color:white;
    background-color:green;
}